<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head> 
    <title>Home Page</title> 
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
		<h1 class="font-weight-bold">Smart Contact Manager</h1>
		<p>
			Start Collecting your contacts in a very Smarter way.We Provide a efficient and
			Smarter way of Handling Contacts.
			
		</p>	
			
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
	</section>
    
</body>
</html>
